<div class="{{b cls 'content'}}" data-uid="{{uid}}">
    {{#if items}}
        {{#if isGroupingModeEnabled}}
                {{#each groupedData}}
                    {{~> tree-group baseUrl=../baseUrl showGroupInfo=../showGroupInfo tabName=../tabName testResultTab=../testResultTab rootname=name}}
                {{/each}}
        
         {{else}}
            {{#each items}}
                {{~> tree-group baseUrl=../baseUrl showGroupInfo=../showGroupInfo tabName=../tabName testResultTab=../testResultTab}}
            {{/each}}
        {{/if}}

    {{else}}
           <div class="{{b cls 'empty'}}">{{t 'component.tree.empty'}}</div>
    {{/if}}
</div>
